/* Admin post table styles  */

.wp-list-table
	#_thumbnail_id
		width: 80px

	#duration
		width: 11%

	#the-list
		.column-_thumbnail_id
			text-align: center !important
			overflow: hidden
			padding: 1%

	#title
		width: 45%
